/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin{
    margin-right: 20px;
    margin-left: 20px
}


/* header */

header{
    width: 100%;
    height: 30px;
    background-color: #dadada;
    display: flex;
}

.semaforo{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div i:first-child{
    color: #ff5f58;
}
header div i:nth-child(2){
    color: #fec02d;
}
header div i:last-child{
    color: #28cb41;
}

.id{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.id div{
    width: 150px;
    height: 70%;
    background-color: grey;
    border: 5px solid white;
    margin-left: 5px;
}

/* main */

main{
    background-color: black;
    color:white;
    height: calc(100vh - 100px);
}

main .visual{
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 0 0;
}

main .border{
    background: linear-gradient(to top , #1d1d1d , #3c3c3c);
    border-radius: 5px;
    padding: 5px;
}

main .visual .speaker i{
    padding-right: 10px;
}

main .full{
    margin-left: 5px;
}

main .full i{
    font-size: 14px;
}

main .content-main{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

main .content-left{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content-left i{
    font-size: 60px;
    color: #7f7f7f;
}

main .content-centrale{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

main .content-centrale img{
    width: 19%;
    height: 14vh;
    margin: 4px;
}


main .content-right{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content-right i{
    font-size: 60px;
    color: #2ebaff;
}

/* footer */

footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #24272a;
}

footer .audio{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

footer .option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 7;
}

footer .option div:nth-child(4) i{
    color: #4bc800;
}

footer .end{
    background-color: #4b4c4f;
    line-height: 70px;
    text-align: center;
    flex-grow: 1;
    color: #ea524b;
    font-weight: bold;
}

footer .big{
    text-align: center;
}

footer .big i{
    font-size: 30px;
}


/* debug */

/* .debug header{
    background-color: violet;
} */

/* .debug main{
    background-color: red;
} */

/* .debug footer{
    background-color: blue;
} */